body{   
    background: #eee;  
}   
#btn{  
    color: #fff;  
    background: #337ab7;  
    padding: 50px;   
    text-align: center;
    margin: 120px auto;
    width:25%;
    border-radius: 2px;  
}